<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1></h1>Thank you from Sock-o-Rama.</h1>
    <p>
      You have successfully placed an order at Sock-o-Rama.
    </p>
    <p>
      When you want to come back we are always here at:<%= @url %>.
    </p>
    <p>
      Thanks for stopping by Sock-o-Rama!
    </p>
  </body>
</html>
