
    <!-- START OF CAROUSEL -->

    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Sock-O-Rama</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>

              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="http://ecx.images-amazon.com/images/I/91-M8oHN-TL._UX679_.jpg" alt="First slide">

        </div>
        <div class="item">
          <img class="second-slide" src="http://ecx.images-amazon.com/images/I/A1%2BfmYV54hL._UX679_.jpg" alt="Second slide">

        </div>
        <div class="item">
          <img class="third-slide" src="http://ecx.images-amazon.com/images/I/611Ov2M4vHL._AC_UL400_SR320,400_.jpg" alt="Third slide">

        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
        <!-- END OF CAROUSEL  -->

        <!-- START FIRST ROW -->
        <div class="row">

          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="..." alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Green Socks</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="..." alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Blue Socks</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="..." alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Black Socks</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
              </div>
            </div>
          </div>
        </div>
        <!-- END OF FIRST ROW -->

        <!-- START SECOND ROW -->
        <div class="row">

          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="..." alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>White Socks</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="..." alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Kids Sizes</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="..." alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Dress Socks</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
              </div>
            </div>
          </div>
        </div>
        <!-- END OF SECOND ROW -->


        <footer>
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>&copy; 2016 Sock-O-Rama, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
              </footer>
